body{
    background-color: #f4f4f4;
}

header {
    background-color:#333 ;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: -10px;
    margin-right: -20px;
    margin-left: -20px;
    padding: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 30px;
    width: 100%;
}
.carclaters {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex: 8;
    margin-right: 100px;
    margin-bottom: 250px;
}
.form-title h2 {
    margin-left: 15px;
    border-bottom: 1px black solid;
    width: 13.5%;
}
.carclate {
    margin-top: 30px;
    margin-left: 20px;
}
.carclate input {
    width: 80%;
    height: 30px;
}
.sousi {
    margin-left: 15px;
}
.sousi input {
    width: 81%;
}
.uri {
    margin-left: 15px;
}
.uri input {
    width: 81%;
}
.urisou {
    margin-right: 9px;
}
.urisou input{
    width: 79%;
}
.money-asses{
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex: 8;
    margin-right: 335px;
    margin-left: 41px;
    margin-top: -170px;
    margin-bottom: 30px;
}
.asses-title{
    text-align: center;
}
.asses-title h2{
    display: inline-block;
    width: 11%;
    border-bottom: 1px black solid;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}
.asses{
    margin-top: 30px;
    margin-left: 15px;
}
.asses input {
    width: 80%;
    height: 30px;
}
.rev-asses {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.asses {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 24px; 
}
.calc-button {
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.calc-button button{
    width: 150px;
    height: 50px;
    font-size: 20px;
}
.parent-all-asses {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 15px;
}
.all-asses {
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    width: 10%;
    padding: 20px;
}

#ryudouresult {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal; /* テキストを折り返し可能にする */
  }
#ryudouasses {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal;
}

#koteiresult {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal; /* テキストを折り返し可能にする */
  }
#koteiasses {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal;
}

#tyoukiresult {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal; /* テキストを折り返し可能にする */
  }
#tyoukiasses {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal;
}

#zikosihonresult {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal; /* テキストを折り返し可能にする */
  }
#zikosihonasses {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal;
}

#husairesult {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal; /* テキストを折り返し可能にする */
  }
#husaiasses {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal;
}

#all-asses {
    font-size: 12px; /* テキストのサイズを小さくする */
    word-wrap: break-word; /* 長い文章を折り返す */
    max-width: 200px; /* テキストが表示される最大幅を指定 */
    white-space: normal;
}

.delete-button {
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.delete-button button{
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content { 
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px; 
}
.modal-content p {
    text-align: left;
}
.close-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover,
.close-button:focus { 
    background-color: #aaa;
    color: black;
}
.modals p {
    font-size: 50px; 
    cursor: pointer;
    color: #00f;
    transition: color 0.3s ease; 
    text-decoration: underline;
    width: fit-content;
    margin-bottom: 1px;
}

.modals p:hover {
    color: red;
}

.modals {
    flex: 2;
    font-size: 25px;
    display: flex;
    flex-direction: column; 
}
.modals h2{
    border-bottom: 1px black solid;
    width: 42%;
    margin-bottom: 5px;
}
.modals h5 {
    margin-left: 15px;
    margin-bottom: 10px;
}
.modals p {
    margin-left: 15px;
    font-size: 22px;
}